html { 
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
  margin: 0;
  padding: 0;
}
.header {
  background-color: #333333;
}
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.jumbotron {
  height: 800px;
}

.jumbotron2 {
	height: 200px;
}

.nav {
  margin: 0;
  padding: 10px 0;
  text-align: center;
 
}

.nav li {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: inline;
  padding: 10px;
}

.nav a{
	color: white;
	text-decoration: none;
}

.nav a:hover{
	text-shadow: 0 0 5px #fff, 0 0 10px white, 0 0 15px blue, 0 0 30px white, 0 0 40px white, 0 0 40px white, 0 0 75px white;
}

.main {
  position: relative;
  top: 100px;
  text-align: center;
}

.main h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 150px;
  margin-top: 0;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 30px blue, 0 0 40px white, 0 0 40px white, 0 0 75px blue;
}

#logo {
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  text-align: right;
  background: transparent;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 30px blue, 0 0 40px white, 0 0 40px white, 0 0 10px blue;
}

#logo2 {
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  text-align: left;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 30px blue, 0 0 40px white, 0 0 40px white, 0 0 10px blue;
}

.supporting .col1{	
  width: 50%;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  margin-top: -35em;
}

.supporting .col2 h2{	
  float: right;
  font-family: 'Raleway', sans-serif;
  text-align: right;
}

.col2 p {
	margin-right: -12em;
}

.col2 img{
	margin-left: 25em;
}

.supporting .col3 h2{	
  float: left;
  font-family: 'Raleway', sans-serif;
}

.col3 p{
	padding-top: -20em;
}

.col3 img{
	margin-left: -27em;
	padding-top: 5em;
}

.supporting img {
  height: 27em;
  
}

.supporting h2 {
  font-weight: 600;
  font-size: 60px;
  text-transform: uppercase;
  color: White;
  text-shadow: 0 0 .5px blue, 0 0 10px white, 0 0 15px white, 0 0 30px blue, 0 0 40px white, 0 0 40px white, 0 0 10px blue;
  text-align: left;
}

.supporting p {
  font-size: 14px;
  margin-left: -5em;	
  margin-bottom: 50px;
  color: white;
  background: rgba(0,0,0,.8);
  border-radius: 15px;
  padding: 7px;
  box-shadow: 0 0 .5px blue, 0 0 10px white, 0 0 15px white, 0 0 30px blue, 0 0 40px white, 0 0 40px white, 0 0 10px blue;
}

.col2 p{
	text-align: left;
	margin-left: 20em;
}

.locations {
	margin: 5em 5em 3em;
	padding-bottom: 5em;
}

.locations p {
	float: right;
	padding-right: 30em;
	padding-top: 5em;
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 20px;
	text-shadow: 3px 3px 3px black;
}

.locations img {
	border: 1px solid black;
	box-shadow: 0 0 .5px blue, 0 0 10px white, 0 0 15px white, 0 0 30px blue, 0 0 40px white, 0 0 40px white, 0 0 10px blue;
}

.locations h2 {
	color: white;
	text-shadow: 2px 2px 2px black;
	font-family: 'Raleway', sans-serif;
}



.clearfix {
  clear: both;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: left;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}

.footer i {
	font-size: 20px;
	color: #fff;
	padding: 10px 10px 10px;
}

.footer a:hover{
	color: white; 
	background-color: #333; 
	padding: 3px 1px 1px;
	text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px blue, 0 0 30px white, 0 0 40px white, 0 0 40px white, 0 0 75px white;
}

#footer2 {
	margin-top: -5.5em;
	float: right;
	
}

@media (max-width: 500px) {
  .main h1 {
    font-size: 50px;
    padding: 0 40px;
  }

  .supporting .col {
    width: 100%;
  }
  
  #footer2 p {
	display: none;
  }
}